<footer>
    <div class="footer-info">
        <div class="f-info-social">
            <a href="https://wa.me/7387223817"><i class="fa-brands fa-square-whatsapp"></i></a>
           <a href="https://www.instagram.com/_vineet.waman/"> <i class="fa-brands fa-square-instagram"></i></a>
            <a href="www.linkedin.com/in/vineet-waman-a959b3324"><i class="fa-brands fa-linkedin"></i></a>

        </div>
        <div> &copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy" id="privacy">Privacy</a>
            <a href="/terms" id="terms">Terms</a>
        </div>
    </div>
</footer>