<% layout("boilerplate.ejs") %>


     <div class="rows mt-3">
        <h3 class="col-6 offset-3">Login on WanderLust:</h3>
        <div class="col-6 offset-3 mt-4">
            <form method="post" action="/login" class="needs-validation" novalidate>
                 <div class="mb-3">
                         <label for="Username" class="form-label "  >Username</label>
                         <input name="username" id="username" type="text" class="form-control" required>
                         <!-- <input placeholder="Add title to your listing" name="title"  type="text" class="form-control" required> -->
                         <div class="invalid-feedback">This field is required.</div>
                         
               </div>

              

               <div class="mb-3">
                         <label for="password" class="form-label "  >Password</label>
                         <input name="password" id="password" type="password" class="form-control" required>
                         <!-- <input placeholder="Add title to your listing" name="title"  type="text" class="form-control" required> -->
                         <div class="invalid-feedback">This field is required.</div>
                         
               </div>

                <button id="add-btn" class="mb-3">Login</button>
            </form>
        </div>
     </div>